.balance-btn {
  padding: 8px 12px;
  color: var(--text-header, #899cb1);
  font-size: 14px;
  font-weight: 400;
  line-height: 148%;
  background-color: #fff;
  border-radius: 48px;
  border: none;
  display: flex;
  align-items: center;
  gap: 10px;
}

.balance-btn span {
  color: var(--text, #122945);
  font-weight: 500;
}

.balance-btn:hover span {
  color: #0024cb;
}

.balance-btn:hover {
  cursor: pointer;
}

.balance-btn:hover svg path {
  fill: #0024cb;
}
