* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'SF Pro Display', sans-serif;
}

:root {
  --side-menu-bg: #091336;
  --side-menu-color: rgba(255, 255, 255, 0.6);
  --text-header: #899cb1;
  --text-secondary: #5e7793;
  --text: #122945;
  --text-green: #00a775;
  --ui-red: #ea1a4f;
}

button:hover {
  cursor: pointer;
}
